@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
* {
  font-family: "Inter", sans-serif;
}
.note-box {
  border-radius: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.06);
  background: #f4f4f4;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.1);
  padding: 1rem 1.6rem;
  box-sizing: border-box;
  border-left: 6px solid transparent;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  min-height: 12rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.note-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category {
  color: #fff;
  font-style: normal;
  padding: 2px 4px;
  font-weight: 500;
  font-size: 0.7rem;
  width: fit-content;
  line-height: normal;
  border-radius: 1.25rem;
  /* background: #ec479af2; */
  padding: 0.5rem 0.8rem;
}
.category > .flag {
  display: inline;
  filter: invert(1);
}
.note-edit {
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
  top : 1rem !important;
}
.dots{
  cursor: pointer;
}
.edit, .delete{
  font-size: 1rem;
  margin-right: 5px;
}
.note-title {
  font-weight: 600;
}
.note-description {
  font-size: 1rem;
}

:root {
  --blue: rgba(80, 170, 231, 1);
  --blue-background: rgba(80, 170, 231, .1);
  --yellow: rgba(255, 218, 0, 1);
  --yellow-background: rgba(255, 218, 0, .1);
  --green: rgba(104, 207, 36, 1);
  --green-background: rgba(104, 207, 36, .1);
  --orange: rgba(255, 90, 0, 1);
  --orange-background: rgba(255, 90, 0, .1);
  --purple: rgba(138, 43, 226, 1);
  --purple-background: rgba(138, 43, 226, .1);
}

/* Categories border color */
.Study {
  border-left-color: var(--blue);
  background-color: var(--blue-background);
}
.Entertainmaint {
  border-left-color: var(--yellow);
  background-color: var(--yellow-background);
}
.Health {
  border-left-color: var(--green);
  background-color: var(--green-background);
}
.Sleep {
  border-left-color: var(--orange);
  background-color: var(--orange-background);
}
.Exercise {
  border-left-color: var(--purple);
  background-color: var(--purple-background);
}

/* Categories background color */
.note-header > .Study {
  background: var(--blue);
}
.note-header > .Entertainmaint {
  background: var(--yellow);
}
.note-header > .Health {
  background: var(--green);
}
.note-header > .Sleep {
  background: var(--orange);
}
.note-header > .Exercise {
  background-color: var(--purple);
}
